<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.au.teamawesome.promulgate" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="dk.au.teamawesome.promulgate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dk.au.teamawesome.promulgate.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBNFijds-2Izf1dIE-QNdmod5lC9in9K5A"/>

        <activity
            android:name="dk.au.teamawesome.promulgate.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewSubscribtionsActivity"
            android:label="@string/title_activity_view_subscriptions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="dk.au.teamawesome.promulgate.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="dk.au.teamawesome.promulgate.activities.NFCActivity"
            android:label="@string/title_activity_nfc" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="p2papp" android:host="nikander-arts.com"/>
            </intent-filter>
        </activity>

        <service
            android:name="dk.au.teamawesome.promulgate.services.GcmIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name="dk.au.teamawesome.promulgate.contentproviders.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="dk.au.teamawesome.promulgate" />
            </intent-filter>
        </receiver>

        <service
            android:name="dk.au.teamawesome.promulgate.services.GCMService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.InquiryActivity"
            android:label="@string/title_activity_inquiry" >
        </activity>
        <activity
            android:name=".activities.ShowMapActivity"
            android:label="@string/title_activity_show_map" >
        </activity>


    </application>

</manifest>
